<html>
  <head>
      <title>Selma's Page</title>
  </head>
  <center>
  <body>
    <marquee> <h1>Hi there dummy!</h1></marquee><br>
    <b>You rock for learning this.</b><br>
    <i>You rock for learning this.</i><br>
    <u>You rock for learning this.</u><br>
    <s>You rock for learning this.</s>
    <p>&hearts;&spades;&clubs;&diams;</p><br>
    <a href="https://www.facebook.com/selmae"> Selma's Facebook </a><br><br>

    <embed
src="http://www.freecodesource.com/images/games/snake.swf" menu="false"
quality="high" width="300" height="200" style="width:300px; height:200px"
type="application/x-shockwave-flash"
pluginspage="http://www.macromedia.com/go/getflashplayer/" allowScriptAccess="never" allowNetworking="internal"><br><br>

<embed
src="http://www.freecodesource.com/images/clocks/clock2.swf" menu="false"
quality="high"  height="200" width="300" wmode="transparent"
type="application/x-shockwave-flash"
pluginspage="http://www.macromedia.com/go/getflashplayer/" allowScriptAccess="never" allowNetworking="internal" >

<div>
  <h1><a href="">My Experience with Django Girls</a></h1>
  <p>I had tons of fun working with my peers to create a website!</p>
</div>

</center>

</body>
</html>
